{% extends "shop/base.html" %}

{% block title %}
    Спасибо
{% endblock %}

{% block content %}
    <h1>Спасибо!</h1>
    <p>Ваш заказ был успешно сформирован. Номер вашего заказа:
        <strong>{{ order.id }}</strong>.
        Наш менеджер свяжется с вами по укзанному номеру телефона</p>
    <form action="{% url 'payment:create_checkout_session' order.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" id="checkout-button">Оплатить</button>
    </form>

{% endblock %}